/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.App {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    z-index: 3;
    transition: transform 0.3s ease;
    transform: translateX(0);
  }

  .sidebar.closed {
    transform: translateX(-250px);
  }

  .logo {
    text-align: center;
    margin-bottom: 20px;
  }

  .logo img {
    width: 80% !important;
    max-width: 127px !important;
    margin-top: 2rem !important;
  }

  .sidebar-nav {
    list-style-type: none;
    padding: 0;
  }

  .sidebar-nav li {
    margin-bottom: 10px;
  }

  .sidebar-nav li a {
    display: block;
    padding: 2px;
    text-decoration: none;
    color: #fff;
    padding-left:10px;
  }

  .sidebar-nav li a:hover {
    background-color: #555;
  }

  .active-link {
    color: #01FFFF !important;
    border-right: 10px solid #01FFFF;
    border-radius: 10px 0px 0px 10px;
  }

  .main-content {
    flex-grow: 1;
    /* margin-left: 250px; */
    padding: 20px;

    transition: margin-left 0.3s ease;
    overflow-y: auto;
  }

  .sidebar.closed ~ .main-content {
    margin-left: 0;
  }

  .toggle-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .bg-dark.navbar-dark {
    background-color: #343a40 !important;

    transition: width 0.3s ease, left 0.3s ease;
    z-index: 1000;

    top: 0;

  }

  .sidebar.closed ~ .bg-dark.navbar-dark {
    width: 100%;
    left: 0;
  }

  .contact-info p {
    color: white;
    margin: 0;
  }

  .contact-info a {
    color: white;
  }

  .sidebar-bottom {
    position: absolute;
    bottom: 0px !important;
    left: 0;
    width: 100%;
    border-top: 1px solid white;
    padding-top: 0px !important;
  }

  .sidebar-bottom a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
  }

  .sidebar-bottom a:hover {
    background-color: #555;
  }

  .click_btn{
    border:none;
    border-bottom:4px solid #0361FE;
;
   color: #00000080;

    font-weight:bold;

  }

  .light_text {
  color: #00000080;

  }

  .dODGfY{
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: bold !important;
    background-color: #FFAC30 !important;
  }


  .modal_header{

    font-size: 0.5rem;
    font-weight: bold !important;
    background-color: #FFAC30 !important;
  }


  .modal{
    border-radius: none !important;
  }

  .close_btn{
    background-color: black;
    color: white;
    border-radius: none !important;
    border: black !important;
  }

  .close_btn:hover{
      border:1px solid #FFAC30 !important;
  }

  .rate_input{
    width: 40%;
  }

  .locked-checkbox {
    background-color: red !important;
    border: 1px solid red !important;
}

.btn_submit{
  background-color: rgb(22, 22, 22);
  color: white;
  border: none;
  border-radius: 7px;
  padding: 10px;
  padding-right:15px;
  padding-left:15px;
}

.main-card{
  background-color: rgb(95, 95, 95);
}
.title_card{
  color: white;
}

.active_card{
background-color: yellow;
color: black;
}

.modal-content{
  padding: 21px !important;
}
.modal-header{
  background-color: #FFAC30;
    height: 34px;
}

.btnLogout{
  margin-left: 19px;
  margin-top: -35px;
}

.deliveryboyLogin{
  background-color: red;
  background-image:
    linear-gradient(
      to top right,
      red, #f06d06
    );
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.inner-section{
  background-color: black;
  height: 100%;
  width:30%;
  overflow: hidden;


}

.footer_img{
 width: 100%;
 height: 144px;


}

.delivery-btns{
  border-radius: 25px;
  background-color: #EF6E0B;
  outline: none;
  color: white;
  padding: 6px;
  border: none;
}

.delivery-btns:hover{
  transition: 0.3s;
  background-color: white;
  color: #EF6E0B;
  border: 1px solid #EF6E0B;
}

.company-link{
  margin-top: 4rem !important;
}

.main_logo_mauli{
  width: 20rem;
  margin-left: 60px;
}

.login_btn:hover{
  color: black !important;
}

@media (max-width: 768px) {
  .inner-section{
    width: 100% !important;
  }
}

