/* .cash-on-delivery {

  padding: 12px;
  background-color: #FFF3E0;

  border-radius: 5px;
  height: 60px !important;
  margin-left: 12px;
}

.cash-on-delivery-info {
  color: #666666;
  font-size: 12px;
  margin-left: 25px;
  margin-top: -10px;

}

.innerLine {
  margin-top: -21px;
  margin-left: 6px;

}

.cash-on-delivery-info a {
  color: rgb(5, 167, 216);
  text-decoration: none;
}

.cash-on-delivery-info a:hover {
  text-decoration: underline;
}

.payment-logo {
  width: 40px;
  margin-left: 20px;
} */